#external-events {
  height: 100vh;
  overflow-y: align;
  div {
    width: fit-content;
    margin: 5px;
    overflow: hidden;
  }
}

.calender-page {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 10px;
}
